/*
    File Name: main.css
    Author: Peter Smith
    WebSite Name: Webulation
    Description: main style css for pages
 */
body {
    /*css for full screen background image*/
    background-image:url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;

	margin:0;
	padding:0;
	height:100%;
}
/*css to prevent overlaping of sections*/
header {
	padding:10px;
}
#content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}
footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
}